---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import { currency, mkIsCurrentPage } from '../../../utils'
import Button from '@components/Button.astro'

export const getStaticPaths = async () => [
  {
    params: { plan: 'menucard' },
    props: {
      title: 'Speisekarte',
      price: 'Auf Anfrage',
    },
  },
  {
    params: { plan: 'order-pay' },
    props: { title: 'Bestellen, Bezahlen + Speisekarte', price: 'Auf Anfrage' },
  },
  {
    params: { plan: 'individuell' },
    props: { title: 'Individuell', price: 'Auf Anfrage' },
  },
]

const { plan } = Astro.params as { plan: string }
const { title: planTitle, price, turnover } = Astro.props

const isCurrentPage = mkIsCurrentPage(Astro.url.pathname)
const isDe = isCurrentPage('/de/')

const title = `Unverbindliche Anfrage • Plan ${planTitle}`
const description =
  'Im Rahmen Ihrer Anfrage, senden wir Ihnen einen Testzugang, um Gaston ausgiebig zu testen.'
---

<Main title={title} description={description}>
  <Container size="small">
    <h1>Unverbindlich Anfrage <small>Plan {planTitle}</small></h1>
    <p>
      Vielen Dank für Ihr Interesse an Gaston. Bitte ergänzen Sie die folgenden
      Angaben, damit wir Ihnen einen Test-Zugang zusenden können.
    </p>
    <div class="card">
      <p>
        Gewählter Plan:
        <b>
          <a
            href={turnover ? `../../?turnover=${plan.split('/').at(-1)}` : '..'}
            >{planTitle}
          </a>
        </b>
      </p>
      {
        turnover && (
          <p>
            Gaston-Umsatz bis: <b>{currency.format(turnover)}.-</b>
          </p>
        )
      }
      <p>
        Basis-Kosten: <b set:html={price}></b>
      </p>
    </div>
    <form
      name="enrol"
      action={isDe ? '/de/preise/success' : '/en/prices/success'}
      method="POST"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
    >
      <p hidden>
        <label for="bot-field">
          Nicht ausfüllen:{' '}
          <input type="text" name="bot-field" />
        </label>
        <input type="text" name="subject" value="Neue Gaston-Anmeldung" />
        <input type="text" name="plan" value={plan} />
        <input type="text" name="locale" value={isDe ? 'de' : 'en'} />
      </p>
      <p>
        <label for="name">
          Vorname / Name
          <input
            type="text"
            inputmode="text"
            autocomplete="name"
            name="name"
            required
          />
        </label>
      </p>
      <p>
        <label for="email">
          Email-Adresse
          <input
            type="email"
            inputmode="email"
            autocomplete="email"
            name="email"
            required
          />
        </label>
      </p>
      <p>
        <label for="phone">
          Telefonnummer
          <input
            type="tel"
            inputmode="tel"
            autocomplete="tel"
            name="phone"
            required
          />
        </label>
      </p>
      <p>
        <label for="restaurant">
          Name des Betriebs
          <input type="text" inputmode="text" name="restaurant" required />
        </label>
      </p>
      <p>
        <label for="website">
          URL ihrer Webseite <small>(optional)</small>
          <input
            type="text"
            inputmode="text"
            autocomplete="url"
            name="website"
          />
        </label>
      </p>
      <p>
        <label for="message">
          Bemerkung <small>(optional)</small>
          <textarea name="message"></textarea>
        </label>
      </p>
      <p style="text-align: right;">
        <Button type="submit">Anfrage versenden</Button>
      </p>
    </form>
  </Container>
</Main>

<style lang="scss">
  h1 {
    line-height: 1em;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    box-sizing: border-box;

    &[type='checkbox'] {
      display: inline;
      width: auto;
      margin-right: 1.5em;
      transform: scale(2) translateX(3px);
    }
  }

  .card {
    padding: 1em 2em;
    background: #eee;
    border-radius: 0.5em;

    p {
      margin: 0.2em 0;
    }
  }
</style>
