---
import { callToActionLinks, footer } from 'src/config'
import { getCurrentLanguage, mkIsCurrentPage } from '../utils.js'
import CallToAction from './CallToAction.astro'
import Container from './Container.astro'
import Instagram from '@icons/Instagram.astro'
import Sitemap from './Sitemap.astro'
import Dialog from '@components/Dialog'
import Newsletter from '@components/Newsletter'
import Button from './Button.astro'

const isCurrentPage = mkIsCurrentPage(Astro.url.pathname)
const lang = getCurrentLanguage(Astro.url.pathname)

const footerInfo = footer[lang]
const links = callToActionLinks[lang]
---

<footer>
  <div class="footer-container">
    <CallToAction links={links} />
  </div>
  <Container>
    <Sitemap lang={lang} />
  </Container>

  <div class="columns footer-container">
    <div>
      <p class="social">
        <a href="https://www.instagram.com/payflink/"><Instagram /></a>&nbsp;
      </p>

      <p>
        © 2019 - {new Date().getFullYear()} Payflink
        <br />
        {footerInfo.aProductOf}
        <a href="https://apptiva.ch">Apptiva</a>
        <br />
        Luzern • Schweiz
      </p>
      <p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.swissmadesoftware.org"
        >
          <img
            height="95"
            width="567"
            style="max-height: 2rem; width: auto;"
            src="/assets/SMS-Logo-1h-black.png"
            alt="Swiss Made Software"
          /></a
        >
      </p>
    </div>
    <div>
      <Dialog client:load>
        <Button slot="openElement">{footerInfo.newsletter}</Button>
        <div class="newsletter-wrapper">
          <Newsletter client:visible />
        </div>
      </Dialog>
      <p>
        {footerInfo.inquiries}&ensp;
        <a href="tel:+41625614243">+41 62 561 42 43</a>
        {footerInfo.or}
        <a href={footerInfo.appointment.url}>{footerInfo.appointment.title}</a>
        <br />
        <br />
      </p>
    </div>
    <p>
      <a href="/de/" aria-current={isCurrentPage('/de/')}>
        <img
          src="/assets/Flag_of_Germany.svg"
          class="flag-germany"
          alt="Flag Germany"
          width="32"
          height="32"
        /></a
      >
      &emsp;
      <a href="/fr/" aria-current={isCurrentPage('/fr/')}>
        <img
          src="/assets/Flag_of_French.svg"
          class="flag-french"
          alt="Flag French"
          width="32"
          height="32"
        /></a
      >
      &emsp;
      <a href="/en/" aria-current={isCurrentPage('/en/')}>
        <img
          src="/assets/Flag_of_England.svg"
          class="flag-england"
          alt="Flag England"
          width="32"
          height="32"
        /></a
      >
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    --primary-color: white;
    position: relative;
    grid-area: Footer;
    margin-top: 4rem;
    padding-top: 6rem;
    color: var(--primary-color);

    color: white;
    z-index: 5;
    overflow: hidden;

    &::before {
      content: ' ';
      position: absolute;
      inset: 0 0 -12rem 0;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        url(/assets/curve.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      z-index: -1;
    }

    .footer-container {
      padding: 1rem;
    }

    .columns {
      a[aria-current] {
        font-weight: bold;
      }
    }

    .social a {
      display: inline-block;
      padding: 0.2em;
    }

    .newsletter-wrapper {
      padding-inline: calc(0.5em + 3vw);
      color: white;
      display: flex;
      justify-content: center;
    }

    @media (min-width: 40rem) {
      .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;
        padding: 0 2rem;
      }
    }
  }
</style>
