---
import ButtonLink from './ButtonLink.astro'
import ButtonList from './ButtonList.astro'
import CallToAction from './CallToAction.astro'

export interface Props {
  name: string
  claim: string
  from: string
  animation: {
    src: string
    alt: string
  }
  links: {
    href: string
    text: string
  }[]
}
const props = Astro.props as Props
---

<div class="layout">
  <div class="value-proposition">
    <h1>{props.name}</h1>
    <p style="margin-bottom: 1rem;">{props.claim}</p>
    <p style="font-size: 1rem; font-weight: 400;">
      <img
        src="/assets/wappen.svg"
        alt="In Luzern (Schweiz) entwickelt"
        width="18px"
      />
      {props.from}
    </p>
  </div>
  <div class="call-to-action">
    <ButtonList>
      {
        props.links.map((link) => (
          <ButtonLink href={link.href}>{link.text}</ButtonLink>
        ))
      }
    </ButtonList>
  </div>
  <div class="animation-wrapper">
    <div class="animation">
      <img
        src={props.animation.src}
        alt={props.animation.alt}
        height="150"
        width="204"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .layout {
    display: grid;
    grid-template-areas: 'value-proposition' 'animation-wrapper' 'call-to-action';
    align-items: center;
    gap: 1em 6em;
    margin-bottom: 1em;
  }

  .value-proposition {
    grid-area: value-proposition;
    z-index: 0;
    flex: 60%;

    h1 {
      font-size: 4em;
      margin-block: 0 0.2em;
      line-height: 1.3em;
    }
    p {
      font-size: 1.6em;
      font-weight: bold;
      margin-block: 0 1em;
      color: var(--text-color);
      line-height: 1.2em;
    }
  }

  .animation-wrapper {
    grid-area: animation-wrapper;
    flex: 40%;
  }

  .animation {
    margin: 0 max(-4em, -8vw) -1em;

    img {
      height: 100%;
      width: 100%;
      max-height: calc(90vh - 4rem);
    }
  }

  .call-to-action {
    grid-area: call-to-action;
    :global(div) {
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    .layout {
      grid:
        'value-proposition animation-wrapper '
        'call-to-action animation-wrapper '
        / 50fr 50fr;
    }
    div.value-proposition p {
      font-size: 2.5em;
    }
    .call-to-action {
      :global(div) {
        justify-content: flex-start;
      }
    }
  }
</style>
