---
import CallToAction from "./CallToAction.astro";

export interface Props {
  name: string,
  claim: string,
  from: string
  animation: {
    src: string,
    alt: string,
  }
  links: {
    href: string,
    text: string
  }[]
}
const props = Astro.props as Props
---

<div class="wrapper">
  <div class="wrapper-left">
    <h1>{props.name}</h1>
    <p style="margin-bottom: 1rem;">{props.claim}</p>
    <p style="font-size: 1rem; font-weight: 400; margin-bottom: 2em;"><img src="/assets/wappen.svg" alt="In Luzern (Schweiz) entwickelt" width="18px" /> {props.from}</p>
    
  </div>
  <div class="wrapper-right">
    <div class="animation">
      <img src={props.animation.src} alt={props.animation.alt} height="150" width="204" />
    </div>
  </div>
</div>
<div class="c2a-wrapper">
  <CallToAction links={props.links} />
</div>

<style lang="scss">
  @media (min-width: 768px) {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6em;
    }
    div.wrapper-left p {
      font-size: 2.5em;
    }
  }

  .wrapper-left {
    z-index: 0;
    flex: 60%;

    h1 {
      font-size: 4em;
      margin-block: 0 0.2em;
      line-height: 1.3em;
      
    }
    p {
      font-size: 1.6em;
      font-weight: bold;
      margin-block: 0 1em;
      color: var(--text-color);
      line-height: 1.2em;
    }
  }


  .wrapper-right {
    flex: 40%;
  }

  .animation {
    margin: 0 max(-4em, -4vw) 0.2em;

    img {
      height: 100%;
      width: 100%;
      max-height: calc(90vh - 4rem);
    }
  }

  .c2a-wrapper {
    margin-block: 4rem 6rem;
  }
</style>