---
import { SEO } from 'astro-seo'

import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'

const description =
  'Gaston wurde 2019 mit der Vision gegründet, den Bestellungs- und Bezahlungsprozess in Restaurants, Cafés und Bars zu revolutionieren.'
const title = 'Über uns • Gaston'

const employees = [
  {
    name: 'Patrik Stutz',
    position: 'Software-Entwickler',
    image: '/assets/team/patrik-stutz-prev.jpg',
  },
  {
    name: 'Philip Schönholzer',
    position: 'Produkt-Entwickler',
    image: '/assets/team/philip-schoenholzer-prev.jpg',
  },
  {
    name: 'Roman Schaller',
    position: 'Software-Entwickler',
    image: '/assets/team/roman-schaller-prev.jpg',
  },
  {
    name: 'Linus Hüsler',
    position: 'Beratung',
    image: '/assets/team/linus-huesler-prev.jpg',
  },
  {
    name: 'Markus Tanner',
    position: 'Beratung',
    image: '/assets/team/markus-tanner-prev.jpg',
  },
  {
    name: 'David Decker',
    position: 'Parktikant',
    image: '/assets/team/david-decker-prev.jpg',
  },
]
---

<Main>
  <!-- <SEO {title} {description} /> -->
  <Container>
    <h1>Über uns</h1>
    <p>
      <b>Gaston</b> wurde 2019 mit der Vision gegründet, den Bestellungs- und Bezahlungsprozess
      in Restaurants, Cafés und Bars zu revolutionieren.
    </p>
    <section>
      <h2>Unser Team</h2>
      <div class="employee-list">
        {employees.map(({ name, image, position }) => (
          <div class="employee">
            <img
              loading="lazy"
              src={image}
              alt={name}
              width="192"
              height="192"
            />
            <p>
              <span class="employee-name">{name}</span>
              <br />
              {position}
            </p>
          </div>
        ))}
      </div>
    </section>
  </Container>
</Main>

<style lang="scss">
  .employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .employee {
    width: 12rem;
    margin: 20px;
    text-align: center;

    img {
      width: 100%;
      border-radius: 1000px;
      box-shadow: 0 0 60px 0px #ccc6;
    }
  }
  .employee-name {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0px;
  }
</style>
