---
import MainLayout from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'

import FixedPicture from '@components/FixedPicture.astro'
import Demo from '@components/Demo.astro'
import { callToActionLinksDe, metaData } from 'src/config'
import BlogTeaser from '@components/BlogTeaser.astro'
import Testimonials from '@components/Testimonials.astro'
import KindOfEstablishments from '@components/KindOfEstablishments.astro'
import CanReplace from '@components/CanReplace.astro'
import Hero from '@components/Hero.astro'
import Customers from '@components/Customers.astro'

const { de } = metaData

const description =
  'Gaston erlaubt es den Gästen schnell und einfach zu bestell und bezahlen. Dabei spielt es keine Rolle, ob die Gäste in ihrem Betrieb, unterwegs oder Zuhause sind.'
---

<MainLayout title={`${de.name} • ${de.claim}`} description={description}>
  <Container>
    <Hero
      name={de.name}
      claim={de.claim}
      from="In Luzern entwickelt."
      animation={{
        src: '/assets/hero-gaston-vs-menu.svg',
        alt: 'Bestellen mit Speisekarte mühsam, mit Gaston App schnell und einfach',
      }}
      links={callToActionLinksDe}
    />
  </Container>
  <Customers />

  <section id="bestellen-mit-gaston" class="background">
    <Container>
      <div class="columns">
        <div style="flex: 1">
          <h2>In drei Schritten zum Genuss</h2>
          <p>
            Mit Gaston bestellen und bezahlen Gäste schnell und einfach im
            Browser. Gaston läuft auf den Handys Ihrer Gäste, ohne App-Download
            oder Installation
          </p>
          <ButtonLink href="bestell-und-zahlungs-ablauf-gastro-betriebe/"
            >Mehr Infos
          </ButtonLink>
          <img
            src="/assets/illustrations/gaston-delivers.svg"
            class="gaston-image"
            alt="Gaston liefert"
          />
        </div>
        <ol class="description-list ordered-list" style="flex: 1">
          <li>
            <div class="description-wrapper">
              <h3>QR-Code scannen</h3>
              <p>
                Die Gäste scannen einen QR-Code auf Ihren Tischen, womit sich
                die Bestell-App im Browser öffnet. Es ist kein Download und
                keine Installation nötig.
              </p>
            </div>
            <div class="image-wrapper">
              <img
                src="/assets/index/scan.svg"
                alt="QR-Code scannen"
                loading="lazy"
                height="150"
                width="130"
              />
            </div>
          </li>
          <li>
            <div class="description-wrapper">
              <h3>Bestellen</h3>
              <p>
                Die Gäste bestellen nach Lust und Laune ein ganzes Menu oder nur
                ein weiteres Getränk oder eine weitere Speise.
              </p>
            </div>
            <div class="image-wrapper">
              <img
                src="/assets/illustrations/order.svg"
                alt="Bestellen"
                loading="lazy"
                height="150"
                width="133"
              />
            </div>
          </li>
          <li>
            <div class="description-wrapper">
              <h3>Bezahlen</h3>
              <p>
                Ihre Gäste bezahlen in der App oder beim Personal. In der App
                bezahlen die Gäste bequem per Twint, Kreditkarte oder anderen
                digitalen Zahlungsmittel.
              </p>
            </div>
            <div class="image-wrapper">
              <img
                src="/assets/illustrations/pay.svg"
                alt="Bezahlen"
                loading="lazy"
                height="150"
                width="110"
              />
            </div>
          </li>
        </ol>
      </div>
    </Container>
  </section>

  <section id="so-hilft-gaston">
    <Container>
      <div class="columns">
        <div>
          <h2>So hilft Gaston</h2>
          <p>
            Gaston sorgt nicht nur für glückliche Gäste, sondern auch für
            zufriedenes Personal.
          </p>
          <img
            src="/assets/illustrations/gaston-hilft.svg"
            alt="Gaston liefert"
            class="gaston-image"
          />
        </div>
        <ul class="emoji-list">
          <li style="list-style: '🙅‍♂️  ';">
            <h3>Personalmangel bewältigen</h3>
            <p>
              Personal zu finden ist eine sehr grosse Herausforderung. Gaston
              übernimmt einen Teil der Service-Arbeit, damit Ihr Betrieb auch
              mit weniger Personal funktioniert.
            </p>
          </li>
          <li style="list-style: '😍  ';">
            <h3>Gäste glücklich machen</h3>
            <p>
              Ihre Gäste warten ungern. Mit der Gaston Bestell App können sie
              ohne Wartezeit bestellen und bezahlen.
            </p>
          </li>
          <li style="list-style: '💁‍♀️  ';">
            <h3>Mehr Zeit für Ihre Gäste</h3>
            <p>
              Sie sind Gastgeber:in. Sie würden gerne so viel wie möglich
              "gastgeben". Gaston nimmt einen Teil der Arbeit ab, damit Sie und
              Ihr Personal mehr Zeit haben, um auf die Bedürfnisse Ihrer Gäste
              einzugehen.
            </p>
          </li>
        </ul>
      </div>
    </Container>
  </section>

  <section id="das-ist-gaston" class="background">
    <Container>
      <Demo />
    </Container>
  </section>

  <section>
    <Container>
      <h2>Das sagen die Gäste</h2>
      <div class="columns">
        <p class="introduction">
          Bei den Gästen kommt Gaston insgesamt sehr gut an. Bei einer Umfrage
          mit <b>über 600 Personen</b> haben <b>85.1%</b> gesagt, dass sie <b
            >wieder mit Gaston bestellen</b
          > würden!
        </p>
        <div class="rating">
          <img
            style="max-width: 300px;"
            src="/assets/stars.svg"
            alt="4.25 Sterne"
          />
          <p>85.1%</p>
        </div>
      </div>
    </Container>
    <Testimonials />
  </section>

  <section id="verkaufskanäle" class="background">
    <Container>
      <h2>Verkaufskanäle</h2>
      <p>
        Gaston kann in ganz unterschiedlichen Situationen eingesetzt werden.
        Gäste können direkt in Ihrem Restaurant vom Tisch aus, von Zuhause oder
        unterwegs bestellen für:
      </p>
      <ul class="horizontal-list">
        <li>
          <div>
            <img
              src="/assets/illustrations/inhouse.svg"
              alt="Im Betrieb"
              loading="lazy"
              height="180"
              width="190"
            />
            <p>Inhouse <small>Im Betrieb am Tisch</small></p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="/assets/illustrations/take-away.svg"
              alt="Take Away"
              loading="lazy"
              height="180"
              width="212"
            />
            <p>Take Away</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="/assets/illustrations/delivery.svg"
              alt="Delivery"
              loading="lazy"
              height="180"
              width="157"
            />
            <p>Delivery</p>
          </div>
        </li>
      </ul>
      <p>
        Sind Sie nicht sicher, ob Gaston Ihr Szenario abdeckt? Nehmen Sie mit
        uns <a href="kontakt/">Kontakt</a> auf.
      </p>
    </Container>
  </section>

  <section>
    <Container>
      <h2>Passt für viele Gastrokonzepte</h2>
      <p style="margin-bottom: 2em;">
        Egal ob Speiserestaurant, Bar oder Imbiss, Gaston passt für die meisten
        Gastrokonzepte. Wir werden häufig gefragt, für welche Betriebe Gaston am
        besten passt. Unserer bisherige Erkenntnis ist folgende: Gaston passt,
        wenn Gäste Bestellungen aufgeben und bezahlen. Dabei spielt es nicht so
        eine grosse Rolle, was Ihr Angebot oder Bedienkonzept ist.
      </p>
      <KindOfEstablishments />
    </Container>
  </section>

  <section id="geräte" class="background">
    <Container>
      <h2>Läuft überall</h2>
      <p>
        Unsere Bestell App läuft auf fast allen Geräten, ohne Installation für
        Ihre Gäste.
      </p>
      <ul class="horizontal-list same-height">
        <li>
          <div>
            <img
              src="/assets/illustrations/smartphone.svg"
              alt="Handy"
              loading="lazy"
              height="150"
              width="154"
            />
            <p>Handys Ihrer Gäste</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="/assets/illustrations/webpage.svg"
              alt="Take Away"
              loading="lazy"
              height="150"
              width="182"
            />
            <p>Ihre Webseite</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="/assets/illustrations/tablet.svg"
              alt="Delivery"
              loading="lazy"
              height="150"
              width="134"
            />
            <p>Tablets</p>
          </div>
        </li>
        <li>
          <div>
            <img
              src="/assets/illustrations/display.svg"
              alt="Delivery"
              loading="lazy"
              height="150"
              width="134"
            />
            <p>Kiosk Displays</p>
          </div>
        </li>
      </ul>
    </Container>
  </section>

  <section>
    <Container>
      <h2>Kann vieles ersetzen</h2>
      <div class="columns">
        <div style="flex: 1;">
          <p>
            Gaston ist ein revolutionäres Konzept und kann entsprechend viele
            Geräte ersetzen. Geräte, die Jahrzehnte lang Bestand hatten, können
            nun hinterfragt werden. Wofür braucht es eine Kasse, wenn die Gäste
            direkt über eine App bezahlen? Wieso hat man ein KK-Terminal, wenn
            die Gäste in Gaston mit Kreditkarte und Twint bezahlen?
          </p>
          <p>Sehen Sie wohin die Reise geht?</p>
          <div class="center" style="margin-top: 3em;">
            <img
              src="/assets/illustrations/trash.svg"
              alt="Geräte in den Abfall geworfen."
              width="250"
            />
            <p style="font-size: 0.8em;;">
              Symbolbild. Bitte werfen Sie nichts weg! Es gibt genügend
              Gastro-Betriebe, die Ihnen Ihre Geräte abnehmen. 😉
            </p>
          </div>
        </div>
        <div style="flex: 1;">
          <CanReplace />
        </div>
      </div>
    </Container>
  </section>

  <section id="stylen-mit-gaston" class="background">
    <Container>
      <h2>Ihre Speisekarte, Ihr Style</h2>
      <p>
        Ihr Betrieb hat einen einzigartigen Stil. Ihre Speisekarte sollte dies
        reflektieren. Sie können das Aussehen jederzeit selber anpassen und auch
        die Bilder und Grafiken für Kategorien und Artikel selber pflegen.
      </p>
      <ul class="horizontal-list shadow">
        <li>
          <FixedPicture
            src={import('../../images/el-mosquito.png')}
            alt="El-Mosquito"
            height={480}
          />
        </li>
        <li>
          <FixedPicture
            src={import('../../images/habsburg.png')}
            alt="Habsburg-Bar"
            height={480}
          />
        </li>
        <li>
          <FixedPicture
            src={import('../../images/sugoisushi.png')}
            alt="Sugoi Sushi"
            height={480}
          />
        </li>
      </ul>
    </Container>
  </section>

  <section>
    <Container>
      <div class="columns">
        <div style="flex: 1;">
          <h2>Neuigkeiten</h2>
          <BlogTeaser language="de" />
          <ButtonLink href="/de/blog/">Weitere Neuigkeiten</ButtonLink>
        </div>
        <div style="flex: 1;">
          <h2>Roadmap</h2>
          <p style="margin-bottom: 2em;">
            Gaston wird ständig weiterentwickelt. Auf unserer Roadmap sehen Sie,
            welche Features als Nächstes verfügbar werden. Haben Sie einen
            speziellen Wunsch? Wir nehmen diesen gerne in die Roadmap auf.
          </p>
          <ButtonLink
            href="https://www.notion.so/gastonsolution/Roadmap-von-Gaston-6644875d1fba4fe58cacfbf15e1ace7e"
          >
            Zur Roadmap
          </ButtonLink>
        </div>
      </div>
    </Container>
    <Container>
      <h2>Unsere Partner</h2>
      <ul class="image-list" style="justify-content: flex-start;">
        <li>
          <a href="https://www.flm.ch/">
            <FixedPicture
              src={import('../../images/partners/flm.png')}
              alt="FLM Kassensysteme"
              height={160}
              layout={'fixed'}
            />
          </a>
        </li>
        <li>
          <FixedPicture
            src={import('../../images/partners/digital-enterprise.png')}
            alt="Digital Enterprise"
            height={60}
            layout={'fixed'}
          />
        </li>
      </ul>
    </Container>
  </section>
</MainLayout>

<style lang="scss">
  section {
    padding-block: 0 4em;
    min-height: 28rem;

    &.background {
      padding-block: 2em 4em;
    }
  }

  hr {
    margin-block: 3em;
    border: none;

    @media (min-width: 40rem) {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: var(--primary-color);

      .background & {
        border-top-color: white;
      }
    }
  }

  .gaston-image {
    display: block;
    max-height: 16rem;
    margin-inline: auto;
    margin-block: 2em;
  }

  ul.emoji-list {
    padding-left: 3em;
  }

  ul.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3em 4em;
    padding: 0;
    margin-top: 2em;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;
      margin-inline: 0;

      ::global(img) {
        width: 100%;
      }

      p {
        margin-top: 0.2em;
        text-align: center;
      }
    }
  }

  .same-height img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 200px;
    margin-inline: auto;
    padding-block-start: 1em;
  }

  .background {
    --primary-color: white;
    position: relative;
    color: white;
    z-index: 5;

    &::before {
      content: ' ';
      position: absolute;
      inset: -1em 0;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        url(/assets/curve.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      z-index: -1;
    }
  }

  .shadow :global(picture) {
    filter: drop-shadow(0 14px 20px #0004);
  }

  .introduction {
    flex: 2;
    margin-block: 1em;
  }

  .rating {
    flex: 1;
    text-align: center;
  }

  .rating p {
    font-size: 2em;
    font-weight: bold;
    margin-block: 0;
  }

  #payment {
    .description-wrapper {
      font-size: 0.7em;
    }
  }
</style>
