---
import Main from './Main.astro'
import Container from '@components/Container.astro'
import { generalTitle, metaData } from 'src/config'
import { BlogPostFrontMatter } from 'src/types'

export type Props = {
  content: BlogPostFrontMatter
}

const { content } = Astro.props as Props
const { title: blogTitle, description, lang, date, author } = content
const title = `${blogTitle} • Blog • ${generalTitle(metaData[lang])}`
---

<Main title={title} description={description}>
  <Container size="small">
    <article class="blog-post">
      <h1>{blogTitle}</h1>
      <p class="description">
        {description}
      </p>
      <p class="publish-date">
        {lang === 'de' ? 'Veröffentlicht am' : 'Published on'}
        <b>{new Date(date).toLocaleDateString('de-CH')}</b>
        {lang === 'de' ? 'von' : 'by'}
        <b>{author}</b>
      </p>
      <slot />
    </article>
  </Container>
</Main>

<style lang="scss" is:global>
  .blog-post {
    li {
      margin-bottom: 0.8em;

      &::marker {
        font-size: 1em !important;
      }
    }
  }
</style>
<style lang="scss">
  h1 {
    margin-bottom: 0;
    line-height: 1em;
  }

  .publish-date {
    font-size: 0.8em;
    margin-bottom: 3em;
  }

  .description {
    font-weight: 600;
  }
</style>