---
import Main from './Main.astro'
import Container from '@components/Container.astro'
import type { BlogPost, Language } from 'src/types'
import { Picture } from '@astrojs/image/components'
import { getImage } from '@astrojs/image'
import { mkHeroImages } from 'src/utils'

const { frontmatter, url } = Astro.props as BlogPost
const { title: blogTitle, description, lang, date, author, image } = frontmatter
const title = `${blogTitle} • Blog`

const heroImages = mkHeroImages(getImage)

const images = await heroImages(url, image, Astro.site?.origin, lang, title)

const text = {
  publishedOn: {
    de: 'Veröffentlicht am',
    en: 'Published on',
    fr: 'Publié le',
    it: 'Pubblicato il',
  },
  by: {
    de: 'von',
    en: 'by',
    fr: 'par',
    it: 'da',
  },
} satisfies Record<string, Record<Language, string>>
---

<Main title={title} description={description} image={images?.fixed}>
  {
    images?.image && (
      <Picture
        src={images.image}
        alt=""
        sizes="100vw"
        widths={[350, 720, 1440]}
        aspectRatio={2}
        class="hero"
        loading="eager"
      />
    )
  }
  <Container size="small">
    <article class="blog-post">
      <h1>{blogTitle}</h1>
      <p class="description">
        {description}
      </p>
      <p class="publish-date">
        {text.publishedOn[lang]}
        <b>{new Date(date).toLocaleDateString(lang)}</b>
        {text.by[lang]}
        <b>{author}</b>
      </p>
      <slot />
    </article>
  </Container>
</Main>

<style lang="scss" is:global>
  picture:has(.hero) {
    display: block;
    text-align: center;
    background-color: var(--light-background-color);
    img {
      display: block;
      margin-inline: auto;
      max-height: 60vh;
      min-height: 30vh;
      object-fit: cover;
    }
  }

  .blog-post {
    li {
      margin-bottom: 0.8em;

      &::marker {
        font-size: 1em !important;
      }
    }
  }
</style>
<style lang="scss">
  h1 {
    margin-bottom: 0;
    line-height: 1em;
  }

  .publish-date {
    font-size: 0.8em;
    margin-bottom: 3em;
  }

  .description {
    font-weight: 600;
  }
</style>
