---
import Main from './Main.astro'
import Container from '@components/Container.astro'
import { generalTitle, metaData } from 'src/config'
import { LandingPageFrontMatter } from 'src/types'

export type Props = {
  content: LandingPageFrontMatter
}

const { content } = Astro.props as Props
const { title: blogTitle, description, lang } = content
const title = `${blogTitle} • ${generalTitle(metaData[lang])}`
---

<Main title={title} description={description}>
  <Container size="small">
    <article class="landing-page">
      <h1>{blogTitle}</h1>
      <p class="description">
        {description}
      </p>
      <slot />
    </article>
  </Container>
</Main>

<style lang="scss" is:global>
  .landing-page {
    li {
      margin-bottom: 0.8em;

      &::marker {
        font-size: 1em !important;
      }
    }
  }
</style>
<style lang="scss">
  h1 {
    margin-bottom: 0;
    line-height: 1em;
  }

  article {
    margin-bottom: 4em;
  }

  .description {
    font-weight: 600;
  }
</style>